<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">


<!-- Listner class we have to integret in a differrnt way   throughout the project htere is only one 
listeners class  in that package n  number of classes are avialble but only one listner class
Basically listener class is a utility file  which need to create for generatinga report
Based on the status corresponding method will be trigger from the listeners-->

<suite name="Suite">
	
	<listeners>
	<listener class-name="listnerScenarios.ListernAction"/>	
	</listeners>
	
	
  <test thread-count="5" name="Test">
    <classes>
      <class name="listnerScenarios.Application"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->




